*{
}
html,
body,
#wrapper {
    height: 100%;
}
.wrap {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 90px;
}
#footer {
    height: 80px;
    margin-top: -80px;
}

body{
    font-size: 18px;
    color: #666;
}
.error_box{
    overflow: hidden;
    color: #f00;
    font-size: 20px;
    margin: 0 0 10px;
}
#wrapper{
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 25px;
}
#header{
    padding: 20px 0;
    overflow: hidden;
    width: 100%;
}
#nav{
    margin: 0;
    padding: 0;
    list-style: none;
}
#nav li{
    padding: 0 10px;
    float: left;
}
#nav li a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
}
#nav li a:hover{
    text-decoration: underline;
}
#footer{
    overflow: hidden;
    width: 100%;
}
.copyright{
    display: block;
    text-align: center;

}
.table{
    width: 100%;
    margin: 0 0 50px;
}
.table,
.table tr,
.table th,
.table td{
    border: 1px solid #000;
    text-align: center;
}
.page_404{
    text-align: center;
}